* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos generales para el cuerpo */
body {
  background-color: #a1bcb9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.brand-name {
  font-size: 20px;
  letter-spacing: 4px;
  color: #333;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

/* Estilos para el título */
.title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: Arial, sans-serif;
}

/* Estilos para el subtítulo */
.subtitle {
  text-align: center;
  font-size: 18px;
  color: #333;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}


/* Estilos para la tabla */
.ordenantes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.ordenantes-table th, .ordenantes-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.ordenantes-table th {
  background-color: #164474;
  color: white;
  font-weight: bold;
}

.ordenantes-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ordenantes-table tbody tr:hover {
  background-color: #e0e0e0;
  transition: 0.3s ease;
}

/* Estilos para los botones de acción en la tabla */
.acciones button {
  margin-right: 5px;
  padding: 8px 12px;
  background-color: #164474;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.acciones button:hover {
  background-color: #304aa2;
}


/* Estilo para las filas y columnas */
.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.col {
  flex: 1;
}

.col input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.col label {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

/* Ajustes de diseño en pantallas pequeñas */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col {
    flex: none;
    width: 100%;
  }
}
