* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilos generales para el cuerpo */
body {
  background-color: #a1bcb9;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Estilos para el logo */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.logo-box {
  position: relative;
  width: 70px;
  height: 70px;
}

.logo-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #333;
}

.logo-box span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 42px;
  font-weight: 500;
  color: #333;
}

.logo-box:after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  z-index: -1;
}

.brand-name {
  font-size: 20px;
  letter-spacing: 4px;
  color: #333;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

/* Estilos para el título */
.header-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* Estilos para el subtítulo */
.subtitle {
  text-align: center;
  font-size: 18px;
  color: #504d4d;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 85%;
  max-width: 500px;
}

.search-button {
  background-color: #a0b2b9;
  color: black;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #112d3e;
}

.select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  max-width: 300px;
}

/* Estilos para la tabla */
.transacciones-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.transacciones-table th, .transacciones-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.transacciones-table th {
  background-color: #164474;
  color: white;
  font-weight: bold;
}

.transacciones-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.transacciones-table tbody tr:hover {
  background-color: #e0e0e0;
  transition: 0.3s ease;
}

/* Estilos para los botones de acción en la tabla */
.transacciones-table button {
  margin-right: 10px; /* Mayor separación entre botones */
  padding: 8px 12px;
  background-color: #164474;
  border: none;
  border-radius: 5px;
  color: white;
  gap: 10px; /* También puedes usar gap para la separación */
  justify-content: flex-start; /* Alineación horizontal de los botones */
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efecto de transición */
}

.transacciones-table button:hover {
  background-color: #304aa2;
}

/* Estilos para los botones de detalles */
.btn-details {
  padding: 8px 12px;
  background-color: #a0b2b9;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-details:hover {
  background-color: #112d3e;
}

/* Ajustes de diseño en pantallas pequeñas */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  .transacciones-table {
    font-size: 14px;
  }

  .select {
    width: 100%;
  }

  .search-input {
    width: 90%;
  }

  .transacciones-table th, .transacciones-table td {
    padding: 8px;
  }

  .transacciones-table button, .btn-details, .btn-action {
    padding: 6px 10px;
  }
}

/* Estilo del modal de transacciones */
.transaction-modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  max-width: 900px;
  max-height: 90vh;
  margin: 100px auto;
  height: auto; 
  overflow-y: auto;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.transaction-modal .modal-header {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  margin-bottom: 28px;
  border-bottom: 1px solid #cbd5e1;
  padding-bottom: 20px;
  position: relative;
}

.transaction-modal .modal-logo svg {
  max-width: 80%;
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 .modal-header .modal-title {
  font-size: 22px;
  font-weight: bold;
  
  margin-top: 15px;
}

.transaction-modal .modal-body {
  margin-top: 15px;
}
.transaction-modal .modal-body > * {
  margin-bottom: 20px; /* Espacio entre cada elemento directo del cuerpo */
}

.transaction-modal .modal-body p {
  font-size: 13px;
  color: #666;
  margin-bottom: 15px; /* Espacio entre párrafos */
  line-height: 1.5;
  text-align: center;
}
.btn-cerrar {
  background-color:  #112d3e;
  color: white;
  border: none;
  padding: 12px 40px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cerrar:hover {
  background-color: #112d3e;
}


/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 1000; /* Sobre otros elementos */
}

/* Botones dentro del modal de transacciones */
.transaction-modal .swal-button--confirm {
  background-color: #164474;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.transaction-modal .swal-button--confirm:hover {
  background-color: #112d3e;
}

.transaction-modal .swal-button--cancel {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.transaction-modal .close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 22px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.transaction-modal .close-button:hover {
  color: #112d3e;
}

.transaction-modal .swal-button--cancel:hover {
  background-color: #555;
}

/* Estilos generales para el filtro y buscador */
.filtro-container,
.buscar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 15px; /* Aumenta la separación entre elementos */
  width: 100%;
}

/* Estilos del filtro */
.filtro-container label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.filtro-container .select {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  transition: border 0.3s ease;
  background-color: #fff;
  width: 100%; /* Ajuste para que el filtro ocupe el mismo largo que la tabla */
}

.filtro-container .select:focus {
  border-color: #164474;
  box-shadow: 0 0 5px rgba(22, 68, 116, 0.5);
}

/* Estilos para el input de búsqueda */
.buscar-container input {
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%; /* Ajuste para que el campo de búsqueda ocupe el mismo largo que la tabla */
  background-color: #fff;
}

.buscar-container button {
  padding: 8px 15px;
  background-color: #164474;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.buscar-container button:hover {
  background-color: #112d3e;
}
.modal-content-container {
  padding: 20px;
  max-width: 500px; /* o lo que prefieras */
  margin: 0 auto;
}

.modal-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.section-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
